@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #181818;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
}

.signup {
  background: linear-gradient(119.83deg, #FFDE59 20.31%, #998535 248.91%);
  box-shadow: inset 6px 3px 4px rgba(254, 250, 215, 0.36);
  color: #212121;
}

.contact-button {
  background: rgba(217, 217, 217, 0.04);
  box-shadow: inset 6px 3px 12px rgba(254, 250, 215, 0.32);
}

.demo-button {
  background: linear-gradient(125.17deg, #FFDE59 18.75%, #998535 126.73%);
  box-shadow: inset 6px 3px 4px rgba(254, 250, 215, 0.36);
}

h2 > span {
  background: linear-gradient(270deg, #FBCE07 0%, #DAC050 29.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.value-h {
font-style: normal;
font-weight: 800;
font-size: 54px;
line-height: 50px;
/* or 93% */
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Ai forall */
background: linear-gradient(96.62deg, #FFFFFF 4.97%, #FBCE07 89.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.value-h2 {
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* or 100% */
display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Ai forall */
background: linear-gradient(96.62deg, #FFFFFF 4.97%, #FBCE07 89.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.glow {
  filter: blur(600px);
}

.review-content {
  background: linear-gradient(83.27deg, #FFFFFF -27.86%, #FBCE07 50.25%);
  /* width: 510px;
  height: 294px; */
  border-radius: 44px;
}

/* 
.slider-ctrl {
  position: relative;
  border: 1px solid transparent;
}

.slider-ctrl::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
  background-image: linear-gradient(96.62deg, #FFFFFF 4.97%, #FFE986 89.16%);
    content: '';
    z-index: -1;
    border-radius: 100%;
}

.slider-ctrl > .arrow {
  background-image: linear-gradient(96.62deg, #FFFFFF 4.97%, #FFE986 89.16%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 46px;
} */